@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 89 85 139;
    --color-secondary: 124 152 133;
    --color-background: 12 22 24;
    --color-background-accent: 21 37 41;
  }
}

body{
  background-color: rgb(12, 22, 24);
}